<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title text-center mb-4">Szerkesztés</h2>
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>

            <div class="mb-3">
              <%= f.label :email, class: "form-label" %><br />
              <%= f.email_field :email, value: resource.email, autocomplete: "email", class: "form-control" %>
            </div>

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <div>Aktuálisan várakozik a megerősítésre: <%= resource.unconfirmed_email %></div>
            <% end %>

            <div class="mb-3">
              <%= f.label "Keresztnév", class: "form-label" %><br />
              <%= f.text_field :first_name, value: resource.first_name, autocomplete: "first_name", class: "form-control" %>
            </div>

            <div class="mb-3">
              <%= f.label "Vezetéknév", class: "form-label" %><br />
              <%= f.text_field :last_name, value: resource.last_name, autocomplete: "last_name", class: "form-control" %>
            </div>

            <div class="mb-3">
              <%= f.label "Telefonszám", class: "form-label" %><br />
              <%= f.text_field :phone_number, value: resource.phone_number, autocomplete: "phone_number", class: "form-control" %>
            </div>

            <div class="mb-3">
              <%= f.label "Település", class: "form-label" %><br />
              <%= f.text_field :city, value: resource.city, autocomplete: "city", class: "form-control" %>
            </div>

            <div class="mb-3">
              <%= f.label "Utca", class: "form-label" %><br />
              <%= f.text_field :street_address, value: resource.street_address, autocomplete: "street_address", class: "form-control" %>
            </div>

            <div class="mb-3">
              <%= f.label "Irányítószám", class: "form-label" %><br />
              <%= f.text_field :postal_code, value: resource.postal_code, autocomplete: "postal_code", class: "form-control" %>
            </div>
  
            <div class="mb-3">
              <%= f.label "Új jelszó", class: "form-label" %> <i>(hagyd üresen, ha nem szeretnéd megváltoztatni)</i><br />
              <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
              <% if @minimum_password_length %>
                <br />
                <em><%= @minimum_password_length %> karakter minimum</em>
              <% end %>
            </div>

            <div class="mb-3">
              <%= f.label "Új jelszó megerősítése", class: "form-label" %><br />
              <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
            </div>

            <% unless f.object.new_record? %>
              <div class="mb-3">
                <%= f.label "Jelenlegi jelszó", class: "form-label" %> <i>(az aktuális jelszavad szükséges a változtatások megerősítéséhez)</i><br />
                <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control" %>
              </div>
            <% end %>


            <div class="text-center">
              <%= f.submit "Frissítés", class: "btn btn-primary btn-block" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container mt-3 text-center">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h3>Boldogtalan vagy?</h3>
      <div><%= button_to "Felhasználói fiók törlése", registration_path(resource_name), data: { confirm: "Biztos vagy benne?" }, method: :delete, class: "btn btn-danger" %></div>
    </div>
  </div>
</div>


<div class="container mt-3 text-center">
  <%= link_to "Vissza", :back, class: "btn btn-secondary" %>
</div>

