<div id="<%= dom_id order_item %>">
  <p>
    <strong>Order:</strong>
    <%= order_item.order_id_id %>
  </p>

  <p>
    <strong>Product:</strong>
    <%= order_item.product_id_id %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= order_item.quantity %>
  </p>

  <p>
    <strong>Subtotal:</strong>
    <%= order_item.subtotal %>
  </p>

</div>
